<div style = "margin-bottom: 2%;" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="20"></div>
    <div fxFlex fxLayoutAlign="center" >
        <form class="searchform">
            <mat-form-field class="example-full-width">
                <mat-label>Suche</mat-label>
            <input type="text"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
            </mat-form-field>
        </form>
    </div>
    <div fxFlex = "20"> </div>
</div>