<div class="main-wrapper" fxLayout="column" fxLayoutAlign="space-between center">

    <div>
        Profil: <br>
        Name: {{user.firstname}} {{user.lastname}} <br>
        Email: {{user.email}} <br>
        Telfonnumer: {{user.phonenumber}} <br>

    </div>

    <div style = "margin-top: 7%;">

        <div class = "main-wrapper" fxLayout="row" fxLayoutAlign="start start">


            <div style = "margin-right: 3%;">
                <h4>Name und Telefonnummer ändern:</h4>
                <form class="example-form" [formGroup] = "dataform">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Vorname" type = "text" [formControl] = "firstname" required>
                    <mat-error *ngIf="firstname.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nachname" type = "text" [formControl] = "lastname" required>
                    <mat-error *ngIf="lastname.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefonnummer" type = "text" [formControl] = "phonenumber">
                    </mat-form-field>
                
                    <div class = "card-error-style" *ngIf = "errorD">{{errorMessageD}}</div>
                    <div class = "card-success-style" *ngIf = "successD">{{successMessageD}}</div>
                    <button style="margin-top: 2%;" mat-stroked-button color="primary" [disabled] = "!dataform.valid" (click) = "updateUserData()" class="btn-block">Speichern</button>
                </form>
            </div>
            <div style = "margin-left: 3%;">
                <h4>Passwort ändern:</h4>
                <form class="example-form" [formGroup] = "pwform">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Aktuelles Passwort" type = "password" [formControl] = "oldpw" required>
                    <mat-error *ngIf="oldpw.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Neues Passwort" type = "password" [formControl] = "newpw" required>
                    <mat-error *ngIf="newpw.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Neues Passwort bestätigen" type = "password" [formControl] = "newpwconfirm" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="pwform.hasError('notSame')">Passwörter stimmen nicht überein</mat-error>
                    </mat-form-field>
                
                    <div class = "card-error-style" *ngIf = "errorP">{{errorMessageP}}</div>
                    <div class = "card-success-style" *ngIf = "successP">{{successMessageP}}</div>
                    <button style="margin-top: 2%;" mat-stroked-button color="primary" [disabled] = "!pwform.valid" (click) = "updateUserPassword()" class="btn-block">Speichern</button>
                </form>
            </div>
        </div>
    </div>
        

</div>
