<main style = "height: 100%;">
<mat-toolbar color="primary" class="app-header">
  <div class = "navbar">
      <div class = "row">
        <img type=button (click) = "router.navigate(['app'])" style = "width: 50px; height: 50px; margin-right: 20px;" src="../assets/twitter logo.png">
      <a href="app" class="positronx">DefinitelyNotTwitter</a>
    </div>

      <div class = "row-end">
        <span *ngIf="user == null" class="nav-tool-items">
          <a mat-button routerLink="login" routerLinkActive="active">Einloggen</a>
          <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Registrieren</a>
        </span>
        <div *ngIf="user !== null">
            <mat-search-bar style="font-size: 10pt" [formControl] = "searchbar" (onEnter) = "search()"></mat-search-bar>
        </div>
        <div *ngIf="user !== null" style ="margin-top: 8px; margin-left: 15px;">
          <mat-icon matBadge="4" matBadgeOverlap="false" style = "cursor: pointer;" (click)=navigateToNots()>email</mat-icon>
        </div>
        <span *ngIf="user !== null" class="nav-tool-items">  
          <div  style = "font-size: 17px; margin-left: 40px; cursor: pointer;" [matMenuTriggerFor] = "menu">{{user.firstname}} {{user.lastname}}</div>
          <mat-menu #menu="matMenu">
            <a routerLink = "app" mat-menu-item>Startseite</a>
            <a routerLink = "user/{{user.id}}/posts" mat-menu-item>Profilpostings</a>
            <a routerLink = "user/{{user.id}}/following" mat-menu-item>Abonnierte Benutzer</a>
            <a routerLink = "user/{{user.id}}/followers" mat-menu-item>Meine Abonennten</a>
            <a routerLink = "user/{{user.id}}/edit" mat-menu-item>Benutzer bearbeiten</a>
            <button (click)="logout()" mat-menu-item>Abmelden</button>
          </mat-menu>
        </span>
    </div>
</div>
  </mat-toolbar>


<div style="height:70px"></div>
<alert> </alert>
<router-outlet> </router-outlet>

</main>




