<main style = "height: 100%;">
<mat-toolbar color="primary" class="app-header">
    <div><a href="app" class="positronx">DefinitelyNotTwitter</a></div>
    <span *ngIf="user == null" class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Einloggen</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Registrieren</a>
    </span>
    <span *ngIf="user !== null" class="nav-tool-items">
      <a mat-button (click) = "logout()" >Abmelden</a>
    </span>
  </mat-toolbar>


<div style="height:70px"></div>
<router-outlet> </router-outlet>

</main>