<div class="main-wrapper" fxLayout="column" fxLayoutAlign="start center" >
    <div style = "width: 100%">
       <app-post-create></app-post-create>
    </div>

    <mat-card  style = "margin-top: 3%; width:35%;">
        <img style ="width: 20px; cursor: pointer;" src="../../assets/reload.png" (click) = "refresh()">
        <div>
            <h2>Profilpostings:</h2>
        </div>
        <div style="width: 100%;">
            <div *ngFor = "let post of posts">
                <div fxLayout = "column" fxLayoutAlign = "center start">
                    <div style = "width:100%; margin-bottom: 3%;" fxLayout = "row" fxLayoutAlign = "space-between center" >
                         <div>
                            <h3 style = "cursor: pointer;" (click)="navigateToAuthor(post)">{{post.authorname}}:</h3>
                        </div> 
                        <div style = "font-size: 40px;">
                            {{post.mood}}
                        </div>
                    </div>
                    <div class = "postingcontent"> 
                        {{post.content}}
                    </div>
                    <div style = "width:100%;" fxLayout = "row">
                        <div fxFlex="88">
                            {{post.createdAt | date:'dd.MM.yyyy HH:mm'}}
                        </div>
                        <div fxFlex="6" *ngIf = "user.id == post.authorid">
                            <img style ="width: 20px; cursor: pointer;" src="../../assets/edit.png" (click) = "openEditDialog(post)">
                        </div>
                        <div fxFlex="6" *ngIf = "user.id == post.authorid">
                            <img style ="width: 20px; cursor: pointer;" src="../../assets/delete.png" (click) = "openDeleteDialog(post)">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </mat-card>

</div>