<div class="main-wrapper" fxLayout="column" fxLayoutAlign="start center" >
    <div style = "width: 100%">
       <app-post-create></app-post-create>
    </div>

    
    <mat-card  style = "margin-top: 3%; width: 30%;">
        <div>
            <h3>Profilpostings:</h3>
        </div>
        <div style="width: 100%">
            <div *ngFor = "let post of posts">
                <div fxLayout = "row" fxLayoutAlign = "start center">
                    {{post.content}} {{post.authorname}} {{post.authorid}}  {{post.mood}} {{post.createdAt | date:'dd.MM.yyyy HH:mm'}}
                    <button (click) = "deletePosting(post)"></button>
                </div>
                <hr>
            </div>
        </div>
    </mat-card>

</div>