<div class="main-wrapper" style ="width: 100%;" fxLayout="column" fxLayoutAlign="start center">
    <mat-card  style = "margin-top: 3%; width: 30%;">
    
        <div>
            <h2>Personen:</h2>
        </div>
        
        <div style="width: 100%">
            <div *ngFor = "let user of users">
                <div *ngIf = "user.id != currentuser.id">
                    <div class = "row">
                        <app-image-with-loading
                            image= "https://pokeres.bastionbot.org/images/pokemon/{{user.pokemonid}}.png"
                            height = 100
                            width = 100>
                        </app-image-with-loading>
                        <button routerLink = "/user/{{user.id}}"  style = "margin-top: 10px; margin-left: 20%;" mat-button>{{user.firstname}} {{user.lastname}}</button>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </mat-card>
</div>
