.notcontent{
    font-family: 'Roboto', sans-serif; 
    font-size: 11.5pt; 
    margin-bottom: 3%;
    word-break: break-all;   
}

.border{
    border-right: 10px solid #3F51B5;
    background-color: rgba(238, 238, 238, 1);
    cursor: pointer;
}

.bold{
    font-weight: 900;
}